:root{
    --primary-color: #00bdd6;
    --backgroundprimary-color: #00bdd6;
}

html{
    /* font-size:100% = 16px*/
    font-size: 62.5%; /* 10px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.bd-bot{
    border-bottom: 1px solid rgb(215, 210, 210);
}

.pd-0{
    padding: 0px;
}

.mt-10{
    margin-top: 10px;
}